<h1>Welcome <%= @user.username %></h1>
<h4>Email:<%= @user.email %><h4>
  <div id="items" class='items list-group col-md-8 pull-left'>
    <%= render @items %>
  </div>
  <div class='col-md-6'>
    <%= render partial: 'items/form', locals: {user: @user} %>
  </div>
