<% if @items.destroyed? %>
$('#items-<%= @items.id %>').hide();
$('.notice').html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:notice] %></div>")
<% else %>
 $('.alert').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>
